:host {
  display: block;
  height: 100%;
  padding-inline: 1rem;
  transform: translateY(-4rem);

  form {
    background-color: white;
    padding: 2rem 1rem;
    border-radius: var(--border-radius);
    height: calc(100% - 4rem);
  }
}

@media screen and (min-width: 64rem) {
  :host {
    transform: none;
    padding-inline: 0;
  }
}
