:host {
  display: flex;
  gap: 1rem;

  p {
    margin-block: 0;
    color: var(--purblish-blue);
  }

  .spinner {
    transform-origin: center;
    animation: spin 0.75s infinite linear;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}
