<section [formGroup]="form">
  <h1>Select your plan</h1>
  <p>You have the option of monthly or yearly billing.</p>
  <ng-container *ngIf="!isLoadingContent; else loading">
    <div class="plans">
      <plan
        *ngFor="let plan of plans"
        [form]="form"
        [plan]="plan"
        [priceType]="currentPriceType"
        [isCurrentPlan]="form.get('planId')?.value === plan.id"
      />
    </div>
    <div class="plan-type">
      <span [class]="currentPriceType === 'month' ? 'is-active' : ''"
        >Monthly</span
      >
      <label
        [className]="
          currentPriceType === 'year'
            ? 'plan-type__toggle year'
            : 'plan-type__toggle'
        "
      >
        <input
          [checked]="currentPriceType !== 'month'"
          type="radio"
          formControlName="currentPriceType"
          (click)="changePlanType()"
        />
      </label>
      <span [class]="currentPriceType === 'year' ? 'is-active' : ''"
        >Yearly</span
      >
    </div>
  </ng-container>
  <ng-template #loading>
    <loading loadingContent="Getting plans for you..." />
  </ng-template>
</section>
