:host {
  flex-grow: 1;
  background-color: var(--light-blue);
  max-width: 120rem;
}

@media screen and (min-width: 64rem) {
  :host {
    display: flex;
    justify-content: center;
    align-items: center;
    main {
      display: flex;
      max-width: 64rem;
      padding: 1rem;
      background-color: white;
      border-radius: var(--border-radius);
      height: 50vh;
      min-height: 30rem;
      max-height: 33.75rem;

      .form-wrapper {
        position: relative;
      }
    }
  }
}
