:host {
  flex-grow: 1;
  background-color: var(--light-blue);
  max-width: 120rem;
}

@media screen and (min-width: 64rem) {
  :host {
    display: flex;
    justify-content: center;
    align-items: center;

    main {
      display: flex;
      max-width: 64rem;
      padding: 1rem;
      background-color: white;
      border-radius: var(--border-radius);
      min-height: 30rem;
      height: 50vh;

      .form-wrapper {
        position: relative;
        padding-inline: 4rem;
        min-width: 33rem;
      }
    }
  }
}
