<section [formGroup]="form">
  <h1>
    {{
      form.get("isUpdatingExistedPersonalInfo")?.value === true
        ? "Update "
        : ""
    }}Personal Info
  </h1>
  <p>Please provide your name, email address and phone number.</p>
  <div class="input-group">
    <div class="input-wrapper email">
      <label
        [ngClass]="{
          invalid:
            (form.get('email')?.value === '' &&
              form.getError('required', 'email')) ||
            form.getError('email', 'email'),
          fetching: isEmailFetching
        }"
        for="email"
      >
        <span>Email Address</span>
        <span
          *ngIf="
            form.get('email')?.value === '' &&
            form.getError('required', 'email')
          "
          >{{ requiredText }}</span
        >
        <span *ngIf="form.getError('email', 'email')"
          >The email must be in the right format</span
        >
      </label>
      <input
        [ngClass]="{
          invalid:
            (form.get('email')?.value === '' &&
              form.getError('required', 'email')) ||
            form.getError('email', 'email')
        }"
        id="email"
        placeholder="e.g. stephenking@lorem.com"
        type="email"
        formControlName="email"
      />
      <loading class="email-loading" *ngIf="isEmailFetching" />
    </div>
    <div class="input-wrapper">
      <label
        [ngClass]="{
          invalid:
            form.get('name')?.value === '' && form.getError('required', 'name')
        }"
        for="name"
      >
        <span>Name</span>
        <span
          *ngIf="
            form.get('name')?.value === '' && form.getError('required', 'name')
          "
          >{{ requiredText }}</span
        >
      </label>
      <input
        [ngClass]="{
          invalid:
            form.get('name')?.value === '' && form.getError('required', 'name')
        }"
        for="name"
        id="name"
        placeholder="e.g. Stephen King"
        type="text"
        formControlName="name"
      />
    </div>
    <div class="input-wrapper">
      <label
        [ngClass]="{
          invalid:
            form.get('phone')?.value === '' &&
            form.getError('required', 'phone')
        }"
        for="phone"
      >
        <span>Phone</span>
        <span
          *ngIf="
            form.get('phone')?.value === '' &&
            form.getError('required', 'phone')
          "
          >{{ requiredText }}</span
        >
      </label>
      <input
        [ngClass]="{
          invalid:
            form.get('phone')?.value === '' &&
            form.getError('required', 'phone')
        }"
        id="phone"
        placeholder="e.g. +1 234 567 890"
        type="tel"
        formControlName="phone"
        (keydown)="validatePhoneInput($event)"
      />
    </div>
  </div>
</section>
