:host {
  display: block;

  .input {
    &-group {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    &-wrapper {
      label {
        font-size: 0.8rem;
        font-weight: 700;
        color: var(--marine-blue);
        display: flex;
        justify-content: space-between;

        &.invalid {
          span:last-child {
            color: var(--red);
          }
        }
      }

      input {
        display: block;
        margin-top: 0.5rem;
        padding-inline: 1rem;
        padding-block: 1rem;
        width: calc(100% - 2.25rem);
        font-size: 1rem;
        font-weight: 500;
        border: solid 0.125rem var(--light-gray);
        border-radius: 0.125rem;

        &:focus-within {
          border-color: var(--pastel-blue);
          outline: none;
        }

        &.invalid {
          border-color: var(--red) !important;
        }

        &:disabled {
          cursor: not-allowed;
        }
      }
    }
  }
}
